#main
{
    font-family: 'Segoe Print';
    background-color: #293855;
    color: #FFFFFF;
    font-size: 40px;
    font-style: normal;
    height: 151px;
    width: 1351px;
    font-weight: bolder;
}
